{% for theme in data %}
<div class="fig-detail">

<div class="card mb-3 on-sale" style="max-width: 540px; z-index:0;">
    <a href="/display_minifig/{{theme.id}}" style="text-decoration: none; color: black;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{theme.img_url}}" class="card-img" alt="minifigs.img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" style="color: black;"> <b>Id:</b> {{theme.id}}</h5>
                <p class="card-text">    
                    <p><b>Theme:</b>  {{theme.theme}}</p>
                    <p><b>Name:</b> {{theme.name}}</p>
            </div>
        </div>
    </div>
    </a>
</div>
</div>
{% endfor %}