{% extends "base.html" %}

{% block body %}
<h1 class="p-4 text-center">Sign In</h1>
<div class="d-flex justify-content-around">
<form action="" method="post" novalidate class="col-4 p-4 bg-secondary text-light">
  {{ form.hidden_tag() }}
  <p>
    {{ form.email.label }}<br />
    {{ form.email(size=32) }}<br />
    {% for error in form.email.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<br />
    {{ form.password(size=32) }}<br />
    {% for error in form.password.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
  <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}
