<div class="container">
    <div class="box-left">
        <h1>image</h1>
        <img src="IMG69.png" alt="mini-icon">
    </div>
    <div class="box-right">
        <h2>MiniFig Details</h2>
        <div>
            <label for="fig_number">MiniFig Number: {{MiniFig Number}}</label>
        </div>
        <div>
            <label for="fig_name">MiniFig Name: {{MiniFig Name}}</label>
        </div>
        <div>
            <label for="fig_year_released">MiniFig Year Released: {{MiniFig Year Released}}</label>
        </div>
        <div>
            <label for="fig_set">Appears In Set: {{MiniFig set}}</label>
        </div>
        <div>
            <label for="fig_theme">Appears In Theme: {{MiniFig theme}}</label>
        </div>
        <div>
            <label for="fig_price">Current Price: {{MiniFig price}}</label>
        </div>
        <div>
            <label for="add_qty">Qty:</label>
            <input type="number">
            <button>Add to Cart</button>
        </div>
    </div>
</div>