{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block body %}
<div style="margin-left: 90px;">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a class="btn btn-danger" href="/user/account/edit">Edit Account Info</a>
        <a class="btn btn-warning" href="/user/account/view_purchased">Purchase History</a>
        <a class="btn btn-success" href="/user/account/view_sold">Sold History</a>
        <a class="btn btn-primary" href="/sell_fig">Add Item to Sell</a>
    </div>
</div>

<h2 style="margin-left: 90px; margin-top:20px;">Items on sale</h2>
{%for item in sell_figs %}
<div style="margin-left: 90px;">
    <div class="card mb-3 on-sale" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{item.figure.img_url}}" alt="fig image" width="220" height="280">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <ul style="list-style: none;">
                        <li><b>Id:</b> {{item.figure_id}}</li>
                        <li><b>Name:</b> {{item.figure.name}}</li>
                        <li><b>Quantity:</b> {{item.quantity}}</li>
                        <li><b>Price:</b>  ${{item.sell_price}}</li>
                        <li><b>Sell Posted At:</b> {{item.created_at}}</li>
                        <br>
                        <li>
                            <a class="btn btn-primary" href="/sell_fig/edit/{{item.id}}">Edit Item</a>
                            <a class="btn btn-primary" href="/sell_fig/delete/{{item.id}}">Remove from List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}